{% extends 'main.html' %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 0fr 1fr;
    }
</style>

<div class="home-container">
    <div>
        {% include 'app/topic_components.html' %}
    </div>
    
    <div>
        <h5>{{room_count}} rooms available</h5>
        <a href="{% url 'create-room' %}">Create Room</a>
        {% include 'app/feed_components.html' %}
    </div>

    
    <div>
        {% include 'app/activity_components.html' %}
    </div>
</div>

{% endblock content%}