{% extends 'main.html' %}

{% block content %}

<style>
    .room-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="room-container">
    <div>
        <h1>{{room.name}}</h1>

        <p>{{room.description}}</p>

        <div class="comment-wrapper">
            <h3>Conversation</h3>
            <br>

            {% for message in roommessages %}
            <div>
                {% if request.user == message.user %}
                <a href="{% url 'delete-message' message.id %}"> Delete </a>
                {% endif %}
                <small>@{{message.user}} {{message.created}}</small>
                <p>{{message.body}}</p>
                <br>
            </div>
            {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Write your message..." />
            </form>
        </div>

        {% endif %}

    </div>
    <div>
        <h3>Participants</h3>
        <br>
        {% for user in participants %}
        <div>
            <p>@{{user.username}}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}